<span class="game-date">11 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-a background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/mx.svg" alt="México">
            <span class="team-name">MEX</span>
        </div>
        <div class="vs">
            <span class="value">2</span>
            <span class="vs">vs</span>
            <span class="value">0</span>
        </div>
        <div class="team t-2">
            <span class="team-name">RSA</span>
            <img src="static/images/flags/za.svg" alt="África do Sul">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-a background fwc-normal">
        <span class="game-time">23h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/kr.svg" alt="República da Coreia">
            <span class="team-name">KOR</span>
        </div>
        <div class="vs">
            <span class="value">2</span>
            <span class="vs">vs</span>
            <span class="value">1</span>
        </div>
        <div class="team t-2">
            <span class="team-name">CZE</span>
            <img src="static/images/flags/cz.svg" alt="Tchéquia">
        </div>
    </div>
</div>

<span class="game-date">12 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-b background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ca.svg" alt="Canadá">
            <span class="team-name">CAN</span>
        </div>
        <div class="vs">
            <span class="value">1</span>
            <span class="vs">vs</span>
            <span class="value">1</span>
        </div>
        <div class="team t-2">
            <span class="team-name">BIH</span>
            <img src="static/images/flags/ba.svg" alt="Bósnia e Herzegovina">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-d background fwc-normal">
        <span class="game-time">22h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/us.svg" alt="Estados Unidos">
            <span class="team-name">USA</span>
        </div>
        <div class="vs">
            <span class="value">4</span>
            <span class="vs">vs</span>
            <span class="value">1</span>
        </div>
        <div class="team t-2">
            <span class="team-name">PAR</span>
            <img src="static/images/flags/py.svg" alt="Paraguai">
        </div>
    </div>
</div>

<span class="game-date">13 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-b background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/qa.svg" alt="Catar">
            <span class="team-name">QAT</span>
        </div>
        <div class="vs">
            <span class="value">1</span>
            <span class="vs">vs</span>
            <span class="value">1</span>
        </div>
        <div class="team t-2">
            <span class="team-name">SUI</span>
            <img src="static/images/flags/ch.svg" alt="Suíça">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-c background fwc-normal">
        <span class="game-time">19h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/br.svg" alt="Brasil">
            <span class="team-name">BRA</span>
        </div>
        <div class="vs">
            <span class="value">1</span>
            <span class="vs">vs</span>
            <span class="value">1</span>
        </div>
        <div class="team t-2">
            <span class="team-name">MAR</span>
            <img src="static/images/flags/ma.svg" alt="Marrocos">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-c background fwc-normal">
        <span class="game-time">22h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ht.svg" alt="Haiti">
            <span class="team-name">HTI</span>
        </div>
        <div class="vs">
            <span class="value">0</span>
            <span class="vs">vs</span>
            <span class="value">1</span>
        </div>
        <div class="team t-2">
            <span class="team-name">SCO</span>
            <img src="static/images/flags/gb-sct.svg" alt="Escócia">
        </div>
    </div>
</div>

<span class="game-date">14 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-d background fwc-normal">
        <span class="game-time">1h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/au.svg" alt="Austrália">
            <span class="team-name">AUS</span>
        </div>
        <div class="vs">
            <span class="value">2</span>
            <span class="vs">vs</span>
            <span class="value">0</span>
        </div>
        <div class="team t-2">
            <span class="team-name">TUR</span>
            <img src="static/images/flags/tr.svg" alt="Turquia">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-e background fwc-normal">
        <span class="game-time">14h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/de.svg" alt="Alemanha">
            <span class="team-name">GER</span>
        </div>
        <div class="vs">
            <span class="value">7</span>
            <span class="vs">vs</span>
            <span class="value">1</span>
        </div>
        <div class="team t-2">
            <span class="team-name">CUW</span>
            <img src="static/images/flags/cw.svg" alt="Curaçau">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-f background fwc-normal">
        <span class="game-time">17h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/nl.svg" alt="Holanda">
            <span class="team-name">NED</span>
        </div>
        <div class="vs">
            <span class="value">2</span>
            <span class="vs">vs</span>
            <span class="value">2</span>
        </div>
        <div class="team t-2">
            <span class="team-name">JPN</span>
            <img src="static/images/flags/jp.svg" alt="Japão">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-e background fwc-normal">
        <span class="game-time">20h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ci.svg" alt="Costa do Marfim">
            <span class="team-name">CIV</span>
        </div>
        <div class="vs">
            <span class="value">1</span>
            <span class="vs">vs</span>
            <span class="value">0</span>
        </div>
        <div class="team t-2">
            <span class="team-name">ECU</span>
            <img src="static/images/flags/ec.svg" alt="Equador">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-f background fwc-normal">
        <span class="game-time">23h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/se.svg" alt="Suécia">
            <span class="team-name">SWE</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">TUN</span>
            <img src="static/images/flags/tn.svg" alt="Tunísia">
        </div>
    </div>
</div>

<span class="game-date">15 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-h background fwc-normal">
        <span class="game-time">13h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/es.svg" alt="Espanha">
            <span class="team-name">ESP</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">CPV</span>
            <img src="static/images/flags/cv.svg" alt="Cabo Verde">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-g background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/be.svg" alt="Bélgica">
            <span class="team-name">BEL</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">EGY</span>
            <img src="static/images/flags/eg.svg" alt="Egito">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-h background fwc-normal">
        <span class="game-time">19h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/sa.svg" alt="Arábia Saudita">
            <span class="team-name">KSA</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">URU</span>
            <img src="static/images/flags/uy.svg" alt="Uruguai">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-g background fwc-normal">
        <span class="game-time">22h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ir.svg" alt="Irã">
            <span class="team-name">IRI</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">NZL</span>
            <img src="static/images/flags/nz.svg" alt="Nova Zelândia">
        </div>
    </div>
</div>

<span class="game-date">16 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-i background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/fr.svg" alt="França">
            <span class="team-name">FRA</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">SEN</span>
            <img src="static/images/flags/sn.svg" alt="Senegal">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-i background fwc-normal">
        <span class="game-time">19h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/iq.svg" alt="Iraque">
            <span class="team-name">IRQ</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">NOR</span>
            <img src="static/images/flags/no.svg" alt="Noruega">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-j background fwc-normal">
        <span class="game-time">22h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ar.svg" alt="Argentina">
            <span class="team-name">ARG</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">DZA</span>
            <img src="static/images/flags/dz.svg" alt="Argélia">
        </div>
    </div>
</div>

<span class="game-date">17 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-j background fwc-normal">
        <span class="game-time">1h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/at.svg" alt="Áustria">
            <span class="team-name">AUT</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">JOR</span>
            <img src="static/images/flags/jo.svg" alt="Jordânia">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-k background fwc-normal">
        <span class="game-time">14h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/pt.svg" alt="Portugal">
            <span class="team-name">POR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">COD</span>
            <img src="static/images/flags/cd.svg" alt="República Democrática do Congo">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-l background fwc-normal">
        <span class="game-time">17h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/gb-eng.svg" alt="Inglaterra">
            <span class="team-name">ENG</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">CRO</span>
            <img src="static/images/flags/hr.svg" alt="Croácia">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-l background fwc-normal">
        <span class="game-time">20h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/gh.svg" alt="Gana">
            <span class="team-name">GHA</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">PAN</span>
            <img src="static/images/flags/pa.svg" alt="Panamá">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-k background fwc-normal">
        <span class="game-time">21h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/uz.svg" alt="Uzbequistão">
            <span class="team-name">UZB</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">COL</span>
            <img src="static/images/flags/co.svg" alt="Colômbia">
        </div>
    </div>
</div>

<span class="game-date">18 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-a background fwc-normal">
        <span class="game-time">13h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/cz.svg" alt="Tchéquia">
            <span class="team-name">CZE</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">RSA</span>
            <img src="static/images/flags/za.svg" alt="África do Sul">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-b background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ch.svg" alt="Suíça">
            <span class="team-name">SUI</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">BIH</span>
            <img src="static/images/flags/ba.svg" alt="Bósnia e Herzegovina">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-b background fwc-normal">
        <span class="game-time">19h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ca.svg" alt="Canadá">
            <span class="team-name">CAN</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">QAT</span>
            <img src="static/images/flags/qa.svg" alt="Catar">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-a background fwc-normal">
        <span class="game-time">22h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/mx.svg" alt="México">
            <span class="team-name">MEX</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">KOR</span>
            <img src="static/images/flags/kr.svg" alt="República da Coreia">
        </div>
    </div>
</div>

<span class="game-date">19 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-d background fwc-normal">
        <span class="game-time">0h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/tr.svg" alt="Turquia">
            <span class="team-name">TUR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">PAR</span>
            <img src="static/images/flags/py.svg" alt="Paraguai">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-d background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/us.svg" alt="Estados Unidos">
            <span class="team-name">USA</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">AUS</span>
            <img src="static/images/flags/au.svg" alt="Austrália">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-c background fwc-normal">
        <span class="game-time">19h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/gb-sct.svg" alt="Escócia">
            <span class="team-name">SCO</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">MAR</span>
            <img src="static/images/flags/ma.svg" alt="Marrocos">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-c background fwc-normal">
        <span class="game-time">21h30</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/br.svg" alt="Brasil">
            <span class="team-name">BRA</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">HTI</span>
            <img src="static/images/flags/ht.svg" alt="Haiti">
        </div>
    </div>
</div>

<span class="game-date">20 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-f background fwc-normal">
        <span class="game-time">14h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/nl.svg" alt="Holanda">
            <span class="team-name">NED</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">SWE</span>
            <img src="static/images/flags/se.svg" alt="Suécia">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-e background fwc-normal">
        <span class="game-time">17h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/de.svg" alt="Alemanha">
            <span class="team-name">GER</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">CIV</span>
            <img src="static/images/flags/ci.svg" alt="Costa do Marfim">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-e background fwc-normal">
        <span class="game-time">21h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ec.svg" alt="Equador">
            <span class="team-name">ECU</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">CUW</span>
            <img src="static/images/flags/cw.svg" alt="Curaçau">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-f background fwc-normal">
        <span class="game-time">23h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/tn.svg" alt="Tunísia">
            <span class="team-name">TUN</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">JPN</span>
            <img src="static/images/flags/jp.svg" alt="Japão">
        </div>
    </div>
</div>

<span class="game-date">21 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-h background fwc-normal">
        <span class="game-time">13h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/es.svg" alt="Espanha">
            <span class="team-name">ESP</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">KSA</span>
            <img src="static/images/flags/sa.svg" alt="Arábia Saudita">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-g background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/be.svg" alt="Bélgica">
            <span class="team-name">BEL</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">IRI</span>
            <img src="static/images/flags/ir.svg" alt="Irã">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-h background fwc-normal">
        <span class="game-time">19h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/uy.svg" alt="Uruguai">
            <span class="team-name">URU</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">CPV</span>
            <img src="static/images/flags/cv.svg" alt="Cabo Verde">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-g background fwc-normal">
        <span class="game-time">22h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/nz.svg" alt="Nova Zelândia">
            <span class="team-name">NZL</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">EGY</span>
            <img src="static/images/flags/eg.svg" alt="Egito">
        </div>
    </div>
</div>

<span class="game-date">22 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-j background fwc-normal">
        <span class="game-time">14h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ar.svg" alt="Argentina">
            <span class="team-name">ARG</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">AUT</span>
            <img src="static/images/flags/at.svg" alt="Áustria">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-i background fwc-normal">
        <span class="game-time">18h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/fr.svg" alt="França">
            <span class="team-name">FRA</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">IRQ</span>
            <img src="static/images/flags/iq.svg" alt="Iraque">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-i background fwc-normal">
        <span class="game-time">21h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/no.svg" alt="Noruega">
            <span class="team-name">NOR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">SEN</span>
            <img src="static/images/flags/sn.svg" alt="Senegal">
        </div>
    </div>
</div>

<span class="game-date">23 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-j background fwc-normal">
        <span class="game-time">0h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/jo.svg" alt="Jordânia">
            <span class="team-name">JOR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">DZA</span>
            <img src="static/images/flags/dz.svg" alt="Argélia">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-k background fwc-normal">
        <span class="game-time">14h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/pt.svg" alt="Portugal">
            <span class="team-name">POR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">UZB</span>
            <img src="static/images/flags/uz.svg" alt="Uzbequistão">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-l background fwc-normal">
        <span class="game-time">17h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/gb-eng.svg" alt="Inglaterra">
            <span class="team-name">ENG</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">GHA</span>
            <img src="static/images/flags/gh.svg" alt="Gana">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-l background fwc-normal">
        <span class="game-time">20h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/pa.svg" alt="Panamá">
            <span class="team-name">PAN</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">CRO</span>
            <img src="static/images/flags/hr.svg" alt="Croácia">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-k background fwc-normal">
        <span class="game-time">23h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/co.svg" alt="Colômbia">
            <span class="team-name">COL</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">COD</span>
            <img src="static/images/flags/cd.svg" alt="República Democrática do Congo">
        </div>
    </div>
</div>

<span class="game-date">24 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-b background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ch.svg" alt="Suíça">
            <span class="team-name">SUI</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">CAN</span>
            <img src="static/images/flags/ca.svg" alt="Canadá">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-b background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ba.svg" alt="Bósnia e Herzegovina">
            <span class="team-name">BIH</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">QAT</span>
            <img src="static/images/flags/qa.svg" alt="Catar">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-c background fwc-normal">
        <span class="game-time">19h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/gb-sct.svg" alt="Escócia">
            <span class="team-name">SCO</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">BRA</span>
            <img src="static/images/flags/br.svg" alt="Brasil">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-c background fwc-normal">
        <span class="game-time">19h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ma.svg" alt="Marrocos">
            <span class="team-name">MAR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">HTI</span>
            <img src="static/images/flags/ht.svg" alt="Haiti">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-a background fwc-normal">
        <span class="game-time">22h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/cz.svg" alt="Tchéquia">
            <span class="team-name">CZE</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">MEX</span>
            <img src="static/images/flags/mx.svg" alt="México">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-a background fwc-normal">
        <span class="game-time">22h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/za.svg" alt="África do Sul">
            <span class="team-name">RSA</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">KOR</span>
            <img src="static/images/flags/kr.svg" alt="República da Coreia">
        </div>
    </div>
</div>

<span class="game-date">25 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-e background fwc-normal">
        <span class="game-time">17h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/ec.svg" alt="Equador">
            <span class="team-name">ECU</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">GER</span>
            <img src="static/images/flags/de.svg" alt="Alemanha">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-e background fwc-normal">
        <span class="game-time">17h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/cw.svg" alt="Curaçau">
            <span class="team-name">CUW</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">CIV</span>
            <img src="static/images/flags/ci.svg" alt="Costa do Marfim">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-f background fwc-normal">
        <span class="game-time">20h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/jp.svg" alt="Japão">
            <span class="team-name">JPN</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">SWE</span>
            <img src="static/images/flags/se.svg" alt="Suécia">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-f background fwc-normal">
        <span class="game-time">20h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/tn.svg" alt="Tunísia">
            <span class="team-name">TUN</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">NED</span>
            <img src="static/images/flags/nl.svg" alt="Holanda">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-d background fwc-normal">
        <span class="game-time">23h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/tr.svg" alt="Turquia">
            <span class="team-name">TUR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">USA</span>
            <img src="static/images/flags/us.svg" alt="Estados Unidos">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-d background fwc-normal">
        <span class="game-time">23h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/py.svg" alt="Paraguai">
            <span class="team-name">PAR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">AUS</span>
            <img src="static/images/flags/au.svg" alt="Austrália">
        </div>
    </div>
</div>

<span class="game-date">26 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-i background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/no.svg" alt="Noruega">
            <span class="team-name">NOR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">FRA</span>
            <img src="static/images/flags/fr.svg" alt="França">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-i background fwc-normal">
        <span class="game-time">16h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/sn.svg" alt="Senegal">
            <span class="team-name">SEN</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">IRQ</span>
            <img src="static/images/flags/iq.svg" alt="Iraque">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-h background fwc-normal">
        <span class="game-time">21h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/uy.svg" alt="Uruguai">
            <span class="team-name">URU</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">ESP</span>
            <img src="static/images/flags/es.svg" alt="Espanha">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-h background fwc-normal">
        <span class="game-time">21h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/cv.svg" alt="Cabo Verde">
            <span class="team-name">CPV</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">KSA</span>
            <img src="static/images/flags/sa.svg" alt="Arábia Saudita">
        </div>
    </div>
</div>

<span class="game-date">27 de junho de 2026</span>

<div class="game-card">
    <div class="game-info group-g background fwc-normal">
        <span class="game-time">0h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/eg.svg" alt="Egito">
            <span class="team-name">EGY</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">IRI</span>
            <img src="static/images/flags/ir.svg" alt="Irã">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-g background fwc-normal">
        <span class="game-time">0h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/nz.svg" alt="Nova Zelândia">
            <span class="team-name">NZL</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">BEL</span>
            <img src="static/images/flags/be.svg" alt="Bélgica">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-l background fwc-normal">
        <span class="game-time">18h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/pa.svg" alt="Panamá">
            <span class="team-name">PAN</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">ENG</span>
            <img src="static/images/flags/gb-eng.svg" alt="Inglaterra">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-l background fwc-normal">
        <span class="game-time">18h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/hr.svg" alt="Croácia">
            <span class="team-name">CRO</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">GHA</span>
            <img src="static/images/flags/gh.svg" alt="Gana">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-k background fwc-normal">
        <span class="game-time">20h30</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/co.svg" alt="Colômbia">
            <span class="team-name">COL</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">POR</span>
            <img src="static/images/flags/pt.svg" alt="Portugal">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-k background fwc-normal">
        <span class="game-time">20h30</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/cd.svg" alt="República Democrática do Congo">
            <span class="team-name">COD</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">UZB</span>
            <img src="static/images/flags/uz.svg" alt="Uzbequistão">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-j background fwc-normal">
        <span class="game-time">23h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/dz.svg" alt="Argélia">
            <span class="team-name">DZA</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">AUT</span>
            <img src="static/images/flags/at.svg" alt="Áustria">
        </div>
    </div>
</div>

<div class="game-card">
    <div class="game-info group-j background fwc-normal">
        <span class="game-time">23h00</span>
    </div>
    <div class="teams">
        <div class="team t-1">
            <img src="static/images/flags/jo.svg" alt="Jordânia">
            <span class="team-name">JOR</span>
        </div>
        <div class="vs">
            <span class="value"></span>
            <span class="vs">vs</span>
            <span class="value"></span>
        </div>
        <div class="team t-2">
            <span class="team-name">ARG</span>
            <img src="static/images/flags/ar.svg" alt="Argentina">
        </div>
    </div>
</div>
